% rebase('base.html')

<a href="/" class="btn right">Nazaj</a>

<h3>Navodila za uporabo</h3>
<h4>Namen</h4>
<p style="width: 50%;">Program je namenjen enostavnejši razdelitvi stroškov,
    ki nastanejo v skupini ljudi na skupnih počitnicah/skupnem bivanju/ob skupnem nakupu darila itd.</p>

<h4>Navodila</h4>
<p style="width: 50%;">V programu lahko dodate skupine, osebe, ki skupini pripadajo, vsaki osebi pa se lahko doda
    plačilo.
    Program z vnašanjem plačil vsaki osebi v skupini izračuna koliko je dolžna ali koliko denarja naj bi dobila od
    ostalih.
<p style="width: 50%;">V primeru napake lahko plačila in osebe pobrišete,
    skupino pa lahko poleg brisanja zaključite in do skupnega zneska, ter stroškov na enega dostopate v <a
        href="/zgodovina/">zgodovini</a>.</p>
</p>
<p>Vse to je prikazano v spodnji sliki.</p>
<img class="responsive-img" style="width: 50%;" src="/img/navodila.jpg" alt="prikaz funkcij">

<p>Pazite, da decimalna števila pišete s piko in ne vejico, sicer se znesek ne bo vpisal.</p>

<h4>Poravnava dolgov</h4>
<p>Če je dolg obarvan z rdečo oz. pozitivno število, je oseba toliko dolžna.</p>
<p>Če je dolg obarvan z zeleno oz. je negativno število, mora toliko dobiti nazaj.</p>