% rebase('base.html')

<h1>Razdelitev stroškov</h1>
<form method="POST" action="/zamenjaj-aktualno-skupino/">
    % for indeks, skupina in enumerate(skupine):
    % if skupina == aktualna_skupina:
    <button class="btn" name="indeks" value="{{indeks}}">
        {{skupina.ime}}
    </button>
    % else:
    <button class="btn teal lighten-3" name="indeks" value="{{indeks}}">
        {{skupina.ime}}
    </button>
    % end
    % end
    <form method="POST" action="/dodaj-skupino/">
        <a class="btn" href="/dodaj-skupino/">
            <i class="material-icons">add</i>
        </a>
    </form>
    <form method="POST" action="/pobrisi-udelezenca/">
        <a class="btn" href="/pobrisi-skupino/">
            <i class="material-icons">remove</i>
        </a>
    </form>
</form>

% if aktualna_skupina:
<ul class="collection" style="width: 400pt">
    <li class="collection-item">Število oseb: {{ stevilo_udelezencev }}</li>
    <li class="collection-item">Skupni strošek: {{ skupno_placilo }}&euro;</li>
    <li class="collection-item">Strošek enega: {{ strosek_enega }}&euro;</li>
</ul>

% for indeks, udelezenec in enumerate(aktualna_skupina.udelezenci):
<div class="card-panel teal lighten-5" style="width: 400pt;">
    <table>
        <thead>
            <tr>
                <th class="teal-text">{{ udelezenec.ime.capitalize() }}</th>
                <th>Plačal/-a: <div>{{ udelezenec.placal() }}&euro;</div> </th>
                %dolg = round(strosek_enega - float(udelezenec.placal()) , 2)
                % if dolg < 0: 
                    <th>
                        Dolg: <div class="green-text">{{ dolg }}&euro;</div>
                    </th>
                % else:
                    <th>
                        Dolg: <div class="red-text">{{ dolg }}&euro;</div>
                    </th>
                %end
                <th>
                    <form method="POST" action="/pobrisi-udelezenca/">
                        <button class="btn" type="submit" name="indeks" value={{indeks}}>
                            <i class="material-icons">remove</i>
                        </button>
                    </form>
                </th>
            </tr>
        </thead>
        %for st, placilo in enumerate(udelezenec.placila):
        <tr>
            <td></td>
            <td>{{placilo.znesek}}</td>
            <td>{{ placilo.opis }}</td>
            <td style="padding-top: 0; padding-bottom: 0;">
                <form method="POST" action="/pobrisi-placilo/">
                    <button class="btn btn-small" type="submit" name="st" value="{{st}}">
                        <i class="material-icons">remove</i> 
                    </button>
                </form>
            </td>
        </tr>
        % end
        <tr>
            <form method="POST" action="/dodaj-placilo/">
                <td></td>
                <td>
                    <input type="text" name="znesek" placeholder="znesek">
                </td>
                <td>
                    <input type="text" name="opis" placeholder="opis">
                </td>
                <td>
                    <button class="btn" type="submit" name="indeks" value="{{indeks}}"><i
                            class="material-icons">add</i></button>
                </td>

            </form>
        </tr>
        <tr></tr>
    </table>
</div>
% end
<form method="POST" action="/dodaj-udelezenca/">
    <button class="btn teal" type="submit" style="width: 400pt;"><i class="material-icons">add</i></button>
</form>



% else:
<p>Nimate še nobene skupine.<a href="/dodaj-skupino/">Dodajte jo!</a></p>