% rebase('base.html')



<nav class="nav-extended teal lighten-2">
    <div class="nav-wrapper">
        <span class="nav-title">Razdelitev stroškov</span>
        <ul class="right">
            <form method="GET" action="/zgodovina/">
            <li class="tab"><a href="/zgodovina/">ZGODOVINA</a></li>
            </form>
        </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
          <form method="POST" action="/zamenjaj-aktualno-skupino/">
            % for indeks, skupina in enumerate(skupine):
                % if skupina == aktualna_skupina:
                <li class="tab teal lighten-1">
                    <button class="btn-flat white-text" name = "indeks" value = "{{indeks}}">
                        {{skupina.ime}}
                    </button>
                </li>
                %else:
                <li class="tab">
                    <button class="btn-flat white-text" name = "indeks" value = "{{indeks}}">
                        {{skupina.ime}}
                    </button>
                </li>
                %end
            %end
          <form method="GET" action="/dodaj-skupino/">
              <li class="tab"><a href="/dodaj-skupino/"><i class="material-icons">add</i></a></li>
          </form> 
        </form>
        </ul>      
    </div>
  </nav>


% if aktualna_skupina:
  <div class="row">
    <div class="col s6" style="padding-left: 0px;">
      
        <ul class="collection" style="width: 400pt;">
            <li class="collection-item">Število oseb: {{ stevilo_udelezencev }}</li>
            <li class="collection-item">Skupni strošek: <b>{{ skupno_placilo }}&euro;</b></li>
            <li class="collection-item">Strošek enega: <b>{{ strosek_enega }}&euro;</b></li>
        </ul>  
    </div>
    <div class="col s6">
    <ul>
        <li>
        <form method="POST" action="/pobrisi-skupino/">
            <button class="btn right" type="submit" style="margin: 7px;">Zbriši skupino</button>
        </form>
        </li>
        <li>
        <form method="POST" action = "/zakljuci-belezenje/">
            <button class="btn right" type="submit" style="margin: 7px;">Zaključi</button>
        </form>
        </li>
    </ul>
    </div>
  </div>


% for indeks, udelezenec in enumerate(aktualna_skupina.udelezenci):
<div class="card-panel teal lighten-5" style="width: 400pt;">
    <table>
        <thead>
            <tr class="teal lighten-5">
                <th class="teal-text" style="width: 75pt;"><h5>{{ udelezenec.ime.title() }}</h5></th>
                <th>Plačal/-a: <div>{{ udelezenec.placal() }}&euro;</div> </th>
                %dolg = round(strosek_enega - float(udelezenec.placal()) , 2)
                % if dolg < 0: 
                    <th>
                        Dolg: <div class="green-text">{{ dolg }}&euro;</div>
                    </th>
                % else:
                    <th>
                        Dolg: <div class="red-text">{{ dolg }}&euro;</div>
                    </th>
                %end
                <th>
                    <form method="POST" action="/pobrisi-udelezenca/">
                        <button class="btn" type="submit" name="indeks" value={{indeks}}>
                            <i class="material-icons">remove</i>
                        </button>
                    </form>
                </th>
            </tr>
        </thead>
        %for st, placilo in enumerate(udelezenec.placila):
        <tr>
            <td></td>
            <td>{{placilo.znesek}}&euro;</td>
            <td>{{ placilo.opis }}</td>
            <td style="padding-top: 0; padding-bottom: 0;">
                <form method="POST" action="/pobrisi-placilo/">
                    <input type="hidden" name ="indeks" value="{{indeks}}">
                    <button class="btn btn-smal" type="submit" name="st" value="{{st}}">
                        <i class="material-icons">remove</i> 
                    </button>
                </form>
            </td>
        </tr>
        % end
        <tr>
            <form method="POST" action="/dodaj-placilo/">
                <td></td>
                <td>
                    <input type="text" name="znesek" placeholder="znesek">
                </td>
                <td>
                    <input type="text" name="opis" placeholder="opis">
                </td>
                <td>
                    <button class="btn" type="submit" name="indeks" value="{{indeks}}"><i
                            class="material-icons">add</i>
                    </button>
                </td>

            </form>
        </tr>
        <tr></tr>
    </table>
</div>
% end
<form method="POST" action="/dodaj-udelezenca/">
    <button class="btn" type="submit" style="width: 400pt;"><i class="material-icons">person_add</i></button>
</form>
<div>
    <i class="material-icons">priority_high</i>
    Če skupino zbrišete, do podatkov ne bo mogoče več dostopati.
    Če zaključite beleženje, lahko do skupne porabe in porabe ene osebe dostopate v <a href ="/zgodovina/">zgodovini</a>.
</div>
<div>
    <i class="material-icons">priority_high</i>
    Če je dolg obarvan z rdečo oz. pozitivno število, je oseba toliko dolžna. 
    Če je dolg obarvan z zeleno oz. je negativno število, mora toliko dobiti nazaj.
</div>


% else:
<p> Nimate še nobene skupine. <a href="/dodaj-skupino/">Dodajte jo!</a></p>

% end
