% rebase('base.html')

  <h1>
      <span class="purple-text text-lighten-4">Razdelitev stroškov</span>
  </h1>

<!nav>
    <!div class="nav-wrapper">
        <!ul id="nav-mobile" class="left hide-on-med-and-down">
            
<form method="POST" action="/zamenjaj-aktualno-skupino/">
  % for indeks, skupina in enumerate(skupine):
    % if skupina == aktualna_skupina:
    <button name = "indeks" value = "{{indeks}}" class="btn waves-effect waves-dark">
        {{skupina.ime}}
    </button>
    % else:
    <button name = "indeks" value="{{indeks}}" class="btn waves-effect waves-light">
        {{skupina.ime}}
    </button>
    % end
  % end
</form>
        <!/ul>
    <!/div>
<!/nav>



% if aktualna_skupina:
<table>
    <form method="POST" action="/dodaj-skupino/">
        <td></td>
        <td>
            <input type = "text" name = "ime" placeholder="ime">
        </td>
        <td>
            <button type="submit">dodaj</button>
        </td>
    </form>
</table>
<p>Število udeležencev: {{ stevilo_udelezencev }}</p>
<p>Skupni strošek: {{ skupno_placilo }}&euro;</p>
<p>Strošek enega: {{ strosek_enega }}&euro;</p>
<table margin = 35px>
    <thead>
        <td>Oseba:</td>
        <td>Plačal/-a:</td>
        <td>Dolg:</td>
    </thead>
    <tbody>
        % for indeks, udelezenec in enumerate(aktualna_skupina.udelezenci):
        <tr>
            <td>{{ udelezenec.ime }}</td>
            <td>{{ udelezenec.placal() }}&euro;</td>
            % dolg = round(strosek_enega - float(udelezenec.placal()) , 2)
            <td>{{ dolg }}&euro;</td>
            <td>
                <form method = "POST" action ="/dodaj-placilo/">
                    <input type="text" name="znesek" placeholder="znesek">
                    <input type="text" name="opis" placeholder="opis">
                    <button type="submit" name="indeks" value="{{indeks}}">Dodaj plačilo</button>
                </form>
            </td>
            <td>
                <form method="POST" action="/pobrisi-udelezenca/">
                    <button type="submit" name="indeks" value="{{indeks}}">-</button>              
                </form>
            </td>
        </tr>
        % end
        <tr>
            <form method="POST" action="/dodaj-udelezenca/">
                <td>
                    Dodajte udeleženca:
                </td>
                <td>
                    <input type="text" name = "ime" placeholder="ime">
                </td>
                <td>
                    <button type="submit">dodaj</button>
                </td>               
            </form>
        </tr>
    </tbody>
</table>
<p>
<form method="POST" action="/zakljuci-belezenje/">
    <button type="submit">Zaključi beleženje</button>
</form>
</p>
% else:

<p>Nimate še nobene skupine.<a href = "/dodaj-skupino/">Dodajte jo!</a> </p>